<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <!--<script>
        Smooch.init({appToken: '{{appToken}}', embedded: true });
    </script>-->
    <style>
        #chat-container {
          width: 400px;
          height: 600px;
        }
    </style>
</head>
<body>
    <h2>SmoochBot Demo</h2>
    <div id="chat-container"></div>
    <script>
        Smooch.init({
            appToken: '{{appToken}}', 
            embedded: true 
        });
        Smooch.render(document.getElementById('chat-container'));
    </script>
</body>
</html>